/* 
    This is a part of a personal libary created by Tomer Horowitz, 
    @ All rights reserved to and for Tomer Horowitz the creator of the libary
*/

*, *:after, *:before {
    font-family: Arimo-Regular;
}

@font-face {
    font-family: Arimo-Regular;
    src: url('../Font-Awesome/Arimo-Regular.ttf');
}

// Ripple
[ripple] {
    overflow: hidden;
    position: relative;

    .ripple {
        position: absolute;
        opacity: .1;
        border-radius: 50%;
        user-select: none;
        pointer-events: none;
        transform: scale(1, 1);
        animation-name: scaleIn;
    }
    
    .ripple-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        animation-name: backgroundIn;

        &.end {
            animation-name: backgroundOut;
        }
    }
}

// Keyframes
@keyframes backgroundIn {
    from {
        opacity: 0;
    }
}
@keyframes backgroundOut {
    to {
        opacity: 0;
    }
}
@keyframes scaleIn {
    from {
        transform: scale(.2, .2);
    }
}